.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f3e5ab;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-container input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.title svg {
  margin-left: 10px;
}

.socialLinks a {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}
